<div style="width: 70%; margin: 0 auto; margin-top: 24px; padding: 24px; display: flex; flex-direction: column">
  <h1>The back and forth:</h1>
  <div class='message'>
    <h3>You:</h3>
    <p><%= @question %></p>
  </div>
  <div class='message'>
    <h3>Coach:</h3>
    <p><%= @answer %></p>
  </div>
  <%= link_to 'You must re-inquire. CLICK ME', ask_path, id: 'back-link' %>
</div>
