<div style="width: 50%; margin: 0 auto; margin-top: 24px; padding: 24px; display: flex; flex-direction: column; align-items: center">
  <h1 style="text-align: center">The Question Opportunity</h1>
  <form action="answer">
    <input type="text" name="question">
    <input type="submit" value="Ask!" id="form-submit">
  </form>
</div>
