<div style="width: 50%; margin: 0 auto; margin-top: 24px; padding: 24px; display: flex; justify-content: center">
  <form action="answer">
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form>
</div>
